.resizable-card-medication {
  width: 100%; /* Fixed width */
  height: 100%; /* Fixed height */
}
.resizable-card-labtest {
  width: 100%; /* Fixed width */
  height: 100%; /* Fixed height */
}
.resizable-card-medicalhistory {
  width: 100%; /* Fixed width */
  height: 100%; /* Fixed height */
}
.resizable-card-immunization {
  width: 100%; /* Fixed width */
  height: 100%; /* Fixed height */
}

.resizable-card-clinicalnotes {
  width: 100%; /* Fixed width */
  height: 100%; /* Fixed height */
}
*/

/* .container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.flexible-card {
  flex-grow: 3; /* Cards will grow and shrink as needed     
  margin: 10px;
}

/* Responsive width */
.responsive-card {
  width: 50%; /* Adjust based on the parent container size */
}
