.logo {
  padding-top: 5%;
  width: 181px;
  height: 61px;
}

.picture {
  padding: 15%;
}

.form-signup {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 20px; */
  background: linear-gradient(to bottom right, #0cb35c, #01bfe6);
  width: auto;
  height: 80em;
}

.form-container-signup {
  background-color: white;
  width: 85%;
  height: 70em;
  border-radius: 5px;
  padding: 40px;
}

.custom-select-width {
  width: 29em; /* Adjust width as needed */
}
